.gradle/
**/.settings
**/.project
**/.classpath
**/.DS_Store
.metadata/
bin/
cov-int
build/
**/*.log
*.iml
.idea/
.idea/gradle.xml
.idea/libraries
*.ipr
*.iws
/out/
*.dot
.shelf/
jayhorn/spec_stuff/
**/*.bak
soottocfg/src/main/java/soottocfg/ast/Absyn/*.class
soottocfg/src/main/java/soottocfg/ast/*.class
soottocfg/src/main/java/Makefile