---
layout: default
title: Home
---

<div class="home">

  <ul class="posts">
    {% for post in paginator.posts %}
    <li>
      <h1 >{{ post.title }}</h1>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      {{ post.excerpt }}
      <div class="continue">
        <a href="{{ post.url | prepend: site.github.url }}">&bull;&bull;&bull;</a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      {% if page == 2 %}
        <a class="page-link" href="{{ 'blog.html' | replace: '//', '/' | replace: ':num', page }}">prv</a>
      {% else %}
        <a class="page-link" href="{{ paginator.previous_page_path }}">prv</a>
      {% endif %}
    {% else %}
      <span class="page-link">prv</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class="page-link" href="{{ paginator.next_page_path  }}">nxt</a>
    {% else %}
      <span class="page-link">nxt</span>
    {% endif %}
  </div>

</div>
